<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="logImpl" value="SLF4J" />
  </settings>

  <plugins>
    <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    <plugin interceptor="com.enixyu.djolar.mybatis.plugin.DjolarInterceptor">
      <property name="dialect" value="mysql=com.enixyu.djolar.mybatis.dialect.PostgreSQLDialect"/>
      <property name="throw-if-field-not-found" value="true"/>
      <property name="throw-if-operator-not-support" value="true"/>
    </plugin>
  </plugins>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/djolar"/>
        <property name="username" value="djolar"/>
        <property name="password" value="djolar"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mapper/BlogMapper-postgres.xml"/>
    <mapper resource="mapper/RateMapper-postgres.xml"/>
  </mappers>
</configuration>